body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    padding: 20px;
    background-image: url(https://img.freepik.com/free-photo/futuristic-metaverse-empty-room-product-display-presentation-abstract-technology-scifi-with-neon-light-3d-background_56104-2314.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    margin: 0;
}

footer {
    padding: 10px;
    background-image: url(https://img.freepik.com/free-photo/futuristic-metaverse-empty-room-product-display-presentation-abstract-technology-scifi-with-neon-light-3d-background_56104-2314.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

nav {
    text-align: center;
}

nav a {
    border: 2px solid lime;
    border-radius: 16px;
    font-size: 20px;
    text-decoration: none;
}

nav a.active {
    background-color: aqua;
}

main img {
    display: block;
    margin: 10px auto;
}